$button-background:   $orange
$button-color:        $white
$button-color-hover:  $white

%button
  +user-select(none)
  +transition(all 0.1s)
  cursor: pointer
  display: inline-block
  border: none
  border-radius: 2px
  text-transform: uppercase

.primary-button
  @extend %button
  padding: rhythm(0.5)
  background-color: $primary-color
  color: $white

  &:hover
    background-color: darken($button-background, 5%)
    color: $button-color-hover

  #hero-header &
    border-color: $gray-lighter

    &:hover
      border-color: $white

.alt-button
  @extend %button
  +rhythm-borders(2px, 0.5)
  background-color: none
  border-color: $primary-color
  color: $primary-color

  &:hover
    border-color: $primary-dark
    color: $primary-dark

.primary-button-small
  @extend .primary-button
  @extend %small-button
  padding: rhythm(0.25)

.alt-button-small
  @extend .alt-button
  @extend %small-button
  +rhythm-borders(2px, 0.25)

%small-button
  padding-left: rhythm(0.5)
  padding-right: rhythm(0.5)
