// Grayscale
//-------------------------------------

$white:         #FFF  
$gray-lighter:  #E4E4E4
$gray-light:    #BCBCBC
$gray:          #9A9A9A
$gray-dark:     #6A6A6A
$gray-darker:   #333
$black:         #000

// Primary colors
//-------------------------------------

$red:     red
$blue:    blue
$green:   green
$yellow:  yellow
$teal:    teal
$purple:  purple
$orange:  #db3c14

// Secondary colors
//-------------------------------------

// Text colors
//-------------------------------------

$text-color:      $gray-dark
$text-color-alt:  $gray

$heading-color:   $gray-darker

$link-color:        $gray-darker
$link-color-hover:  $gray
$link-color-active: $link-color-hover
