// Clearfix
//-------------------------------------

.clear
  +clearfix()

// Responsive helpers
//-------------------------------------

$mobile: "screen and (max-width: 480px)"
$tablet: "screen and (min-width: 768px)"
$tablet-down: "screen and (max-width: 768px)"
$medium-screen: "screen and (min-width: 992px)"
$wide-screen: "screen and (min-width: 1200px)"
