#header-nav

  > .container
    padding: 0

%nav-item
  margin: rhythm(1) 0

.nav-list
  @extend %horizontal-list
  display: none
  float: right
  margin: 0
  padding: 0
  white-space: nowrap

  @media #{$tablet}
    display: block

  > li
    @extend %nav-item
    margin: rhythm(1, 14px) 0 rhythm(1, 14px) rhythm(1, 14px)

    &:first-child
      margin-left: 0

  > li > a
    padding: rhythm(0.25, 14px) 0

  > .signup-item > a
    @extend .button
    display: inline
    border: none !important

  .current_page_item a
    border-bottom: 2px solid $link-color

#logo
  @extend %nav-item
  +adjust-font-size-to(14px, 2, 42px)
  float: left
  text-transform: uppercase
  text-indent: -9999px
  padding: 0
  margin: 11px 0

  a
    display: block
    width: rhythm(23, 14px)
    height: rhythm(6, 14px)
    background: url(images/montaasi_logo.svg) center no-repeat

#mobile-nav-link
  @extend %nav-item
  +rhythm-borders(1px, 0.5, 14px)
  border: 1px solid $gray
  width: rhythm(1)
  margin: rhythm(0.75) 0
  float: right
  text-align: center
  background: none
  color: $gray

  @media #{$tablet}
    display: none

.footer-nav-item
  @extend %nav-item

.separated-nav-item
  padding-left: rhythm(1, 14px)
  border-left: 1px solid gray
