.row
  +padding-leader(4)
  +trailing-border(1px, 4)
  border-color: $gray-light

  &:nth-child(even)
    background-color: #f4f4f4

.column-row
  @extend .row
  @extend .clear
  padding-left: 5%
  padding-right: 5%

.row-title
  margin-top: 0
  text-transform: uppercase
  letter-spacing: 1px

.row-icon
  display: block
  height: rhythm(1.5, 28px)
  margin-bottom: rhythm(0.5, 28px)

.promo-row
  @extend .row
  @extend .clear
  padding-top: 0
  padding-bottom: 0
