.single-post-hero
  text-align: left !important
  background-image: url(images/hero_uutinen.jpg)

.single-post
  @extend .featurette
  border: none
  background: $white

.single-post-meta
  display: inline-block
  margin: rhythm(0.5) 0 0
  padding: 0 rhythm(0.5)
  background: rgba($black, 0.7)

.single-post-title
  @extend .hero-title
  display: inline
  margin: rhythm(2) 0 0
  padding: 0 rhythm(0.5, 44px)
  background: rgba($black, 0.7)

.single-post-hero .container
  padding-top: rhythm(6)
  padding-bottom: rhythm(2)

@media #{$medium-screen}

  .single-post-hero .container
    padding-top: rhythm(8)

@media #{$large-screen}

  .single-post-hero .container
    padding-top: rhythm(8)
