$input-min-width: rhythm(14)

form
  @extend %default-margin

fieldset
  @extend %default-margin
  padding: 0
  border: none

  > ul, > ol
    list-style: none
    padding: 0

    > li
      margin: 0 rhythm(0.5)

.input
  +box-sizing(border-box)
  +appearance(none)
  +rhythm-borders(1px, 0.5)
  width: 100%
  border-color: $gray
  border-radius: 2px

.select
  @extend .input
  cursor: pointer
  background: url("images/select_arrow.png") 95% 50% no-repeat
  background-size: 12px 8px

  &:hover
    background-image: url("images/select_arrow_hover.png")

@media #{$medium-up}

  .input
    width: auto
    min-width: $input-min-width
