// Clearfix
//-------------------------------------

.clear
  +clearfix()

.hidden
  display: none !important
  visibility: hidden !important
  height: 0
  width: 0

// Responsive helpers
//-------------------------------------

$tablet: "screen and (min-width: 768px)"
$medium-screen: "screen and (min-width: 992px)"
$large-screen: "screen and (min-width: 1240px)"

// Keyframe mixin
//-------------------------------------

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

=animation($animation...)
  -o-animation: $animation
  -moz-animation: $animation
  -webkit-animation: $animation
  animation: $animation
